{% extends './onlineStore_base.html' %}
{% block title %}MediSync - Online Store{% endblock %}

{% block content %}
<h1>Products</h1>
<p>Here you can find all the products available in our online store.</p>

{% block products %}
<h2>Our Products</h2>
<ul class="list-group">
    {% for product in products %}
    <li class="list-group-item">
        <h5>{{ product.name }}</h5>
        <p>{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        <a href="{% url 'view_product_detail' product.id %}" class="btn btn-primary">View Details</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% endblock %}

